[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
whitenoise = "*"
pillow = "*"
django-material-admin = "*"
sqlparse = "*"
asgiref = "*"
"backports.zoneinfo" = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
