.bg-primary {
  background: #477091 !important;
}

.container-custom {
  width: 98% !important;
  margin: auto;
}

.img-container img {
  width: 100%;
  max-height: 25vw;
  object-fit: cover;
}

.mt20 {
  margin-top: 20px;
}

.about-page {
  height: 65vh;
}